@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Paneli - Ürün Listesi</h2>

<table id="productTable">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Stok Miktarı</th>
            <th>Birim</th>
            <th>Fiyat (TL)</th>
            <th>Kategori</th>
            <th>Resim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Status</td>
                <td>@product.Price</td>
                <td>@product.Status</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.Image))
                    {
                        <img src="data:image/png;base64,@product.Image" alt="Ürün Resmi" style="width: 50px; height: 50px;">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AddProduct", "Admin")">
    <button>Yeni Ürün Ekle</button>
</a>
